@media (min-width: 576px) {
  .header__heading {
    font-size: 2.6rem;
  }
  .header__text {
    font-size: 1.6rem;
  }
  .header__btn {
    font-size: 1.4rem;
  }
  .universe__img {
    width: 100%;
    height: auto;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .blackholes__button {
    font-size: 1.8rem;
  }
}
@media (min-width: 768px) {
  .header__heading {
    font-size: 3rem;
  }
  .header__text {
    font-size: 3.2rem;
  }
  .header__btn {
    font-size: 1.6rem;
  }
  .universe__img {
    width: 100%;
    height: auto;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .universe__btn {
    font-size: 2rem;
  }
  .blackholes__button {
    font-size: 2rem;
  }
  .gallery__btn {
    font-size: 2rem;
  }
}
@media (min-width: 992px) {
  .nav {
    height: 7.6rem;
    align-items: center;
    justify-content: center;
    transform: none;
    left: 0;
    top: 0;
    background-color: #060606;
    margin-top: 0;
    opacity: 0.4;
  }
  .nav::before, .nav::after {
    transition: 0.3s;
  }
  .nav__items {
    flex-direction: row;
  }
  .nav__item {
    margin: 0 1rem;
    margin-top: 0.8rem;
    font-size: 1.8rem;
    color: #fcfbfb;
  }
  .nav__item:hover::before, .nav__item:hover::after {
    display: none;
  }
  .nav__logo-text {
    margin-bottom: 1rem;
    color: #fcfbfb;
  }
  .nav__img {
    display: none;
  }
  .hamburger {
    display: none;
  }
  .header {
    background-image: linear-gradient(45deg, rgba(216, 96, 26, 0.65), rgba(75, 180, 241, 0.65)), url("../../dist/img/universe-hero-1920.webp");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }
  .header__heading {
    font-size: 3.6rem;
  }
  .header__text {
    font-size: 2.6rem;
  }
  .header__btn {
    font-size: 1.8rem;
  }
  .navbar__logo {
    transform: scale(0.8);
    top: 0;
    left: 0;
  }
  .universe__img {
    width: 100%;
    height: auto;
    -o-object-fit: cover;
       object-fit: cover;
    content: url("../../dist/img/about-universe-1920.webp");
  }
  .blackholes__btn {
    font-size: 2.2rem;
  }
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Bruno Ace SC", sans-serif;
  font-size: 1.6rem;
  min-height: 100vh;
  min-height: 100dvh;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section-heading {
  text-align: center;
  color: #fcfbfb;
  padding: 1rem;
}

img {
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

button {
  margin: 20px;
  padding: 1rem 0.6rem;
  background: none;
  border: 1px solid #fcfbfb;
  border-radius: 2rem;
  color: #fcfbfb;
  font-size: 2rem;
  text-transform: uppercase;
  cursor: pointer;
}
button::before, button::after {
  display: block;
  position: absolute;
  content: "";
  transition: all 0.5s;
}

.a {
  position: relative;
  margin: 20px;
  padding: 1rem 0.6rem;
  background: none;
  color: #fcfbfb;
  font-size: 2rem;
  text-transform: uppercase;
  cursor: pointer;
  text-decoration: none;
}
.a::before, .a::after {
  display: block;
  position: absolute;
  content: "";
  transition: all 0.5s;
  z-index: 1;
}

.hamburger {
  position: fixed;
  top: 2rem;
  right: 1rem;
  color: #e51313;
  z-index: 500;
}
.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  background-color: #e51313;
  z-index: 500;
}

.navbar__logo {
  position: fixed;
  top: 2rem;
  left: 1rem;
  display: flex;
  align-items: center;
  margin: 1rem;
  z-index: 1000;
}
.navbar__img {
  height: 3rem;
}

.nav__element-to-hide {
  transition: opacity 0.3s ease-in-out;
  will-change: opacity;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.nav {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  transform: translateX(100%);
  transition: 0.5s cubic-bezier(0.65, 0.05, 0.36, 1);
  background-image: #e51313;
  background-color: #fcfbfb;
  z-index: 1000;
}
.nav--active {
  transform: translateX(0);
}
.nav__img {
  top: 0;
  height: 6rem;
  padding: 0.8rem 1.6rem;
}
.nav__items {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.nav__logo-text {
  margin-left: 1rem;
  font-size: 2rem;
  color: #fcfbfb;
}
.nav__item {
  position: relative;
  padding: 1rem;
  margin: 1rem 0;
  font-size: 2rem;
  text-decoration: none;
}
.nav__item:hover {
  color: #e51313;
}
.nav__item::after, .nav__item::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  transition: width 0.3s;
}
.nav__item::before {
  top: -2px;
  left: -8px;
  border-top: 0 solid #060606;
  border-left: 0 solid #060606;
}
.nav__item::after {
  bottom: -2px;
  right: -8px;
  border-bottom: 0 solid #060606;
  border-right: 0 solid #060606;
}
.nav__item:hover::before, .nav__item:hover::after {
  width: 45px;
  height: 50%;
}
.nav__item:hover::before {
  border-top: 2px solid #e51313;
  border-left: 2px solid #e51313;
}
.nav__item:hover::after {
  border-bottom: 2px solid #e51313;
  border-right: 2px solid #e51313;
}

.header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  height: 100vh;
  background-image: linear-gradient(45deg, rgba(216, 96, 26, 0.65), rgba(75, 180, 241, 0.65)), url("../../dist/img/universe-hero-640.webp");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.header__heading {
  font-size: 2rem;
  color: #fcfbfb;
  padding: 1rem;
  text-align: center;
}
.header__text {
  font-size: 1.4rem;
  padding: 1rem;
  text-align: center;
  color: #fcfbfb;
}
.header__btn {
  position: relative;
  margin-top: 2em;
  padding: 0.8em 1.6em;
  font-size: 1.4rem;
  border: 2px solid black;
  border-radius: 8px;
  color: #fcfbfb;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  overflow: hidden;
}
.header__btn::before, .header__btn::after {
  display: block;
  position: absolute;
  content: "";
  transition: 0.6s;
}
.header__btn::before {
  top: -30px;
  left: -130px;
  height: 240%;
  width: 100px;
  background-image: linear-gradient(-90deg, rgba(231, 223, 216, 0.3), rgba(255, 255, 255, 0));
  transform: rotate(20deg);
}
.header__btn:hover::before {
  left: 130%;
}

.universe__box {
  background-color: #060606;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.universe__box-text {
  background-color: #060606;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.universe__info {
  font-family: "Alkatra";
  font-size: 2rem;
  color: #fcfbfb;
  padding: 2rem;
  margin: 0 auto;
}
.universe__img {
  max-width: 100%;
}
.universe__btn {
  font-family: "Alkatra";
  display: inline-block;
  width: auto;
  margin: 0 auto;
  padding: 1.6rem 3.2rem;
  font-size: 1.6rem;
  transition: background-color 0.3s;
  border-radius: 0.6rem;
  color: #fcfbfb;
  background-color: #060606;
  box-shadow: 0.4rem 0.6rem 0.8rem;
  transition: 0.5s;
  text-decoration: none;
}
.universe__btn:hover {
  box-shadow: 0.6rem 0.8rem 0 0 rgba(175, 23, 23, 0.8), inset 0.8rem 0.4rem 0.8rem rgba(239, 112, 112, 0.711);
}

.hmm {
  border: none;
  transition: 0.5s;
}
.hmm:hover {
  box-shadow: 2rem 3rem 0 0 rgba(255, 255, 255, 0.8), inset 1.1rem 0.6rem 1rem rgba(0, 0, 0, 0.2);
}

.blackholes {
  background: #060606;
}
.blackholes__box {
  position: relative;
  margin: 2rem;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0.6rem 0.6rem 0.8rem #060606;
}
.blackholes__box-img {
  overflow: hidden;
}
.blackholes__img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}
.blackholes__info {
  color: #fcfbfb;
  margin: 0 auto;
  padding: 2rem;
  max-width: 1200px;
}
.blackholes__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.4rem;
  line-height: 1.5;
}
.blackholes__button {
  position: relative;
  margin: 2rem;
  padding: 1.6rem 3.2rem;
  border-radius: 0.6rem;
  border: none;
  font-size: 1.6rem;
  text-transform: uppercase;
  cursor: pointer;
  display: flex;
  justify-content: center;
  transition: 0.8s;
  font-family: "Bruno Ace SC";
  text-decoration: none;
}
.blackholes__button::before, .blackholes__button::after {
  display: block;
  position: absolute;
  content: "";
  transition: all 0.5s;
  z-index: -1;
}
.blackholes__button::before {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.blackholes__button::after {
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.blackholes__button:hover {
  border: 1px solid transparent;
  color: #e51313;
}
.blackholes__button:hover::after {
  bottom: -10px;
  right: -10px;
  border-bottom: 5px solid rgba(94, 47, 8, 0.9176470588);
  border-right: 5px solid rgba(94, 47, 8, 0.9176470588);
}
.blackholes__button:hover::before {
  top: -10px;
  left: -10px;
  border-top: 5px solid rgba(94, 47, 8, 0.9176470588);
  border-left: 5px solid rgba(94, 47, 8, 0.9176470588);
}

.gallery {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-color: #060606;
}
.gallery-images {
  display: flex;
  width: 600%;
  overflow: hidden;
  height: auto;
  left: 0;
}
.gallery-button {
  position: absolute;
  background-color: transparent;
  border: none;
  font-size: 1.6rem;
  cursor: pointer;
  z-index: 2;
}
.gallery-button:hover {
  color: #e51313;
}
.gallery__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.gallery__info-text {
  text-align: center;
  color: #fcfbfb;
  margin-top: 1rem;
}
.gallery .prev {
  left: 0;
}
.gallery .next {
  right: 0;
}
.gallery-images img {
  width: 16.6666666667%;
  -o-object-fit: cover;
     object-fit: cover;
}
.gallery__btn {
  position: relative;
  font-family: "Bruno Ace SC";
  cursor: pointer;
  overflow: hidden;
  margin: 1rem;
  padding: 1.6rem 3.2rem;
  border-radius: 0.6rem;
  font-size: 1.6rem;
  border: none;
  transition: background-color 0.3s;
  z-index: 0;
}
.gallery__btn::before, .gallery__btn::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(94, 47, 8, 0.9176470588);
  z-index: -1;
}
.gallery__btn::before {
  top: -50%;
  left: -100%;
}
.gallery__btn::after {
  bottom: -50%;
  right: -100%;
}
.gallery__btn:hover::before {
  left: 0;
}
.gallery__btn:hover::after {
  right: 0;
}

.gallery-container {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.footer {
  background-color: #060606;
}
.footer__container {
  text-align: center;
}
.footer__text-info {
  color: #fcfbfb;
}
.footer__icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 1rem;
}

@media (min-width: 576px) {
  .header__heading {
    font-size: 2.6rem;
  }
  .header__text {
    font-size: 1.6rem;
  }
  .header__btn {
    font-size: 1.4rem;
  }
  .universe__img {
    width: 100%;
    height: auto;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .blackholes__button {
    font-size: 1.8rem;
  }
}
@media (min-width: 768px) {
  .header__heading {
    font-size: 3rem;
  }
  .header__text {
    font-size: 3.2rem;
  }
  .header__btn {
    font-size: 1.6rem;
  }
  .universe__img {
    width: 100%;
    height: auto;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .universe__btn {
    font-size: 2rem;
  }
  .blackholes__button {
    font-size: 2rem;
  }
  .gallery__btn {
    font-size: 2rem;
  }
}
@media (min-width: 992px) {
  .nav {
    height: 7.6rem;
    align-items: center;
    justify-content: center;
    transform: none;
    left: 0;
    top: 0;
    background-color: #060606;
    margin-top: 0;
    opacity: 0.4;
  }
  .nav::before, .nav::after {
    transition: 0.3s;
  }
  .nav__items {
    flex-direction: row;
  }
  .nav__item {
    margin: 0 1rem;
    margin-top: 0.8rem;
    font-size: 1.8rem;
    color: #fcfbfb;
  }
  .nav__item:hover::before, .nav__item:hover::after {
    display: none;
  }
  .nav__logo-text {
    margin-bottom: 1rem;
    color: #fcfbfb;
  }
  .nav__img {
    display: none;
  }
  .hamburger {
    display: none;
  }
  .header {
    background-image: linear-gradient(45deg, rgba(216, 96, 26, 0.65), rgba(75, 180, 241, 0.65)), url("../../dist/img/universe-hero-1920.webp");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }
  .header__heading {
    font-size: 3.6rem;
  }
  .header__text {
    font-size: 2.6rem;
  }
  .header__btn {
    font-size: 1.8rem;
  }
  .navbar__logo {
    transform: scale(0.8);
    top: 0;
    left: 0;
  }
  .universe__img {
    width: 100%;
    height: auto;
    -o-object-fit: cover;
       object-fit: cover;
    content: url("../../dist/img/about-universe-1920.webp");
  }
  .blackholes__btn {
    font-size: 2.2rem;
  }
}/*# sourceMappingURL=main.css.map */